:root {
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
    --warning-color: #ffc107; /* Bootstrap warning background color */
    --success-color: #198754; /* Bootstrap success background color */
    --danger-color: #dc3545;
    --default-text-color: #212529; /* Bootstrap default text color */
    --border-light-color: #f8f9fa;
    --default-border-color: #343a40; /* Bootstrap border-dark color */
    --default-dark-color: #343a40;
    --default-bg-color: #ffffff; /* Default background color */
}

.slide-in-success {
    transition: background-color 0.4s ease-in, color 0.4s ease-in, border-color 0.4s ease-in, border-width 0.4s ease-in, border-color 0.4s ease-in;
}

.slide-danger-to-success,
.slide-out-success-false,
.slide-out-success,
.slide-out-danger {
    transition: background-color 0.4s ease-in, color 0.4s ease-in, border-color 0.4s ease-in;
}

.override-visible {
    transition: visibility 0.4s ease-in;
}

.override-invisible {
    transition: visibility 0.4s ease-in;
}

@keyframes slide-in-success {
    0% {
        background-color: transparent;
        color: var(--secondary-color);
        border: solid 3px var(--secondary-color) !important;
    }

    100% {
        background-color: var(--success-color); /* Bootstrap success background color */
        color: var(--warning-color);
        border: solid 3px var(--warning-color) !important;
    }
}

.btn-success-in-1 {
    animation: slide-in-success 0.4s ease-in;
}

@keyframes slide-out-success-false {
    0% {
        background-color: var(--success-color); /* Bootstrap success background color */
        color: var(--warning-color);
        border: solid 3px var(--warning-color) !important;
    }

    100% {
        background-color: transparent;
        color: var(--secondary-color);
        border: solid 3px var(--secondary-color) !important;
    }
}

.btn-success-out-false {
    animation: slide-out-success-false 0.4s ease-in;
}

@keyframes slide-out-success-false-2 {
    0% {
        background-color: var(--success-color); /* Bootstrap success background color */
        color: var(--warning-color);
        border: solid 3px var(--warning-color) !important;
    }

    50% {
        background-color: transparent;
        color: var(--secondary-color);
        border: solid 3px var(--secondary-color) !important;
    }

    100% {
        background-color: var(--success-color); /* Bootstrap success background color */
        color: var(--warning-color);
        border: solid 3px var(--warning-color) !important;
    }
}

.btn-success-out-false-2 {
    animation: slide-out-success-false 0.4s ease-in;
}

@keyframes slide-out-success {
    0% {
        background-color: var(--success-color); /* Bootstrap success background color */
        color: var(--warning-color);
        border-color: var(--warning-color);
        border-width: 3px;
    }

    100% {
        background-color: var(--danger-color); /* bootstrap danger background color*/
        color: var(--secondary-color);
        border-color: var(--secondary-color);
        border-width: 3px;
    }
}

.btn-success-out-1 {
    animation: slide-out-success 0.4s ease-in;
}

@keyframes slide-out-danger {
    0% {
        background-color: var(--danger-color); /* Bootstrap success background color */
        border-width: 3px;
    }

    100% {
        background-color: transparent;
        border-width: 3px;
    }
}

.btn-danger-out-1 {
    animation: slide-out-danger 0.4s ease-in;
}

@keyframes slide-danger-to-success {
    0% {
        background-color: var(--danger-color);
        color: var(--secondary-color);
        border: solid 3px var(--secondary-color);
    }

    100% {
        background-color: var(--success-color);
        color: var(--warning-color);
        border: solid 3px var(--warning-color) !important;
    }
}

.btn-danger-to-success {
    animation: slide-danger-to-success 0.4s ease-in;
}

.hover-effect-1:hover {
    filter: brightness(96%) !important;
}

.black-to-red {
    filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(-65deg) brightness(70%) contrast(140%);
}

.black-to-green {
    filter: invert(100%) sepia(100%) saturate(700%) hue-rotate(60deg) brightness(90%) contrast(100%);
}

#real-time-values::before {
    content: "Current Value: " attr(data-curr) " | Last Value: " attr(data-last) " | Prev Value: " attr(data-prev);
}
